.content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("https://wallpaperaccess.com/full/4622684.jpg");
    background-size: cover;
    background-color:#237689;
}

.menu {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.title {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #000;
    font-size: 44px;
}
.button {
    padding: 10px 60px;
    border:2px solid rgb(8, 44, 19);
    font-size: 30px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    text-shadow: 1px 1px 1px #000;
    background-color: #0000005c ;
    transition: .5s;
}
.button:hover {
    box-shadow: 0 5px 5px 5px #000;
}