.audioSettings {
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    border: 5px solid #fff;
    padding: 0 15px ;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
  }
  .text {
    margin-right: 10px;
  }